{
    "ServerUrl": "http://0.0.0.0:8080",
    "ServerUrl.Tcp": "tcp://0.0.0.0:38888",
    "Setup.Mode": "None",
    "Security.UnsecuredAccessAllowed": "PublicNetwork",
    "Logs.RetentionTimeInHrs": 336,
    "Security.AuditLog.Compress": true,
    "Security.AuditLog.RetentionTimeInHrs": "52560",
    "License.Eula.Accepted": true
}