{
    "License": {
        "Id": {{ license.Id | default('') | tojson }},
        "Name": {{ license.Name | default('') | tojson }},
        "Keys": {{ license.Keys | to_nice_json }}
    },
    "Email": "{{ ravendb_admin_email }}",
    "Domain": "{{ ravendb_domain }}",
    "RootDomain": "{{ ravendb_root_domain }}",
    "NodeSetupInfos": {
        "{{ hostvars[inventory_hostname]['node_tag'] }}": {
            "PublicServerUrl": "https://{{ ravendb_domain }}.{{ ravendb_root_domain }}",
            "PublicTcpServerUrl": "tcp://{{ ravendb_domain }}.{{ ravendb_root_domain }}:38888",
            "Port": 443,
            "TcpPort": 38888,
            "Addresses": ["{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"]
        }
    }
}