{
    "ServerUrl": "http://0.0.0.0:{{ ravendb_http_port }}",
    "ServerUrl.Tcp": "tcp://0.0.0.0:{{ ravendb_tcp_port}}",
    "Setup.Mode": "None",
    "Security.UnsecuredAccessAllowed": "PublicNetwork",
    "Logs.RetentionTimeInHrs": 336,
    "Security.AuditLog.Compress": true,
    "Security.AuditLog.RetentionTimeInHrs": 52560,
    "License.Eula.Accepted": true
}